<p>
  <strong>FirstName:</strong>
  <%=h @accountinformation.first_name %>
</p>
<p>
  <strong>LastName:</strong>
  <%=h @accountinformation.last_name%>
</p>
<p>
  <strong>Adreess1</strong>
  <%=h @accountinformation.address1 %>
</p>
<p>
  <strong>Address2</strong>
  <%=h @accountinformation.address2 %>
</p>
<p>
  <strong>Zipcode:</strong>
  <%=h @accountinformation.zipcode %>
</p>
<p>
  <strong>dob</strong>
  <%=h @accountinformation.dob %>
</p>

<p>
  <strong>User_id:</strong>
  <%=h @accountinformation.user_id%>
</p>

<p>
  <%= link_to "Edit", edit_account_information_path(@accountinformation) %> |
  <%= link_to "Destroy", @accountinformation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", account_informations_path %>
</p>
